<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/forgot"></ion-back-button>
    </ion-buttons>
    <ion-title>create password</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-card>
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">New Password</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Confirm Password</ion-label>
          <ion-input type="tel"></ion-input>
        </ion-item>
      </ion-card-content>
      <ion-button color="tertiary" fill="clear" size="full" routerLink="/login">create Password</ion-button>
    </ion-card>
  </div>
</ion-content>
