<ion-content>
  <div class="container">
    <ion-card  style="border-radius: 1rem;">
      <ion-card-header>
        <ion-card-title color="primary">Demo App</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email" placeholder="Enter your email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password" placeholder="Enter your password"></ion-input>
        </ion-item>
        <ion-button color="tertiary" fill="clear" size="full">Forgot password / Email</ion-button>
        <ion-button color="success"  size="full">Login</ion-button>
        <ion-button color="primary" fill="clear" size="full">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
