<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup Call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="https://i.stack.imgur.com/WHCGy.png" alt="placeholder images">
  <ion-card>
    <ion-card-content>
      <p>plot number: 12</p>
      <p>Address1 : Fake address, </p>
      <p>Address2 : Fake point 2</p>
      <p>State: xyz</p>
      <p>country: ABCDE</p>
      <p>zip code: 605 007</p>
    </ion-card-content>
  </ion-card>
  <ion-list>
    <ion-item lines="inset">
      <ion-label position="float">Notes</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item>
  </ion-list>
  <ion-button size="full" color="success" shape="round" (click)="goToHome()">create pickup call</ion-button>
</ion-content>
