<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotohome()">
        <ion-icon name="log-out-outline" ></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of messagelist">
      <ion-avatar slot="start">
        <img src="https://thumbs.dreamstime.com/b/person-gray-photo-placeholder-man-costume-white-background-person-gray-photo-placeholder-man-136701248.jpg" alt="user-icon">
      </ion-avatar>
      <ion-label>
        <h6>{{ user.username}}</h6>
        <p>Recent message: <span>{{ user.messageCount }}</span></p>
      </ion-label>
    </ion-item>
  </ion-list>
  <app-card [cardObj]="lastCallList">
    <ion-card-header header>
      <ion-card-subtitle>
        Last call pickup
      </ion-card-subtitle>
    </ion-card-header>
    <ion-button footer color="primary" fill="clear" size="full"  routerLink="/pickup-call">see all...</ion-button>
  </app-card>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="success">
      <ion-icon name="add" routerLink="/mypickupcall"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
